<!-- Navigation Bar -->
<div class="container-fluid totalheadercont">
  <div class="row">
    <div class="col-12">
      <div class="container headercont1">
        <div class="row ">
          <div class="col-5">
            <div class="logocontainer">
             <a class="nav-link" href="#homesection"><img class="logoimg"src="../assets/logo.png" alt="logo"> </a> 
            </div>
          </div>
          <div class="col-7 column2">
            <div class="navbar secondcol">
              <div class="menu-icon" id="menu-icon">
                <a role="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                  <span class="material-symbols-outlined menuicon">menu</span>
                </a>
                <div class="offcanvas offcanvas-start" id="demo">
                  <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                  </div>
                  <div class="offcanvas-body navbar-nav">
                    <div data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item">
                      <a class="dropdownitem nav-link" href="#homesection">Home</a>
                    </div>
                    
                    <!-- Remove data-bs-dismiss here to prevent canvas from closing on click -->
                    <div class="nav-item dropdown">
                      <a class="dropdownitem nav-link" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                      <ul class="dropdown-menu servicedropdownmenu">
                        <!-- Add data-bs-dismiss only to the links that should close the canvas -->
                        <li><a class="dropdown-item" routerLink="/services/e-publishing" data-bs-dismiss="offcanvas">e-Publishing</a></li>
                        <li><a class="dropdown-item" routerLink="/services/accessibilityservices" data-bs-dismiss="offcanvas">Accessibility Services</a></li>
                        <li><a class="dropdown-item" routerLink="/services/dataannotation" data-bs-dismiss="offcanvas">Data Annotation</a></li>
                      </ul>
                    </div>
                    
                    <div data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item">
                      <a class="dropdownitem nav-link" href="#aboutsection">About Us</a>
                    </div>
                    <div data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item">
                      <a class="dropdownitem nav-link" href="#contactsection">Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <ul class="navbar-nav navlist">
                <li class="nav-item homelink"><a class="nav-link" href="#homesection">Home</a></li> 
                <li class="nav-item dropdown servicelink">
                  <a class="nav-link dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false" href="#servicesection">Services</a>
                  <ul class="dropdown-menu servicedropdownmenu" aria-labelledby="servicesDropdown">
                    <li><a class="dropdown-item" routerLink="/services/e-publishing">e-Publishing</a></li>
                    <li><a class="dropdown-item" routerLink="/services/accessibilityservices">Accessibility Services</a></li>
                    <li><a class="dropdown-item" routerLink="/services/dataannotation">Data Annotation</a></li>
                  </ul>
                </li> 
                <li class="nav-item aboutuslink"><a class="nav-link" href="#aboutsection">About Us</a></li>
                <li class="nav-item contactslink"><a class="nav-link" href="#contactsection">Contact Us</a></li>
              </ul>
              
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- epublishing heading container -->
   <div class="container-fluid epublishingfircont">
    <div class="row">
        <div class="col-12">
            <div class="container epublishingseccont">
                <div class="row">
                    <div class="col-12">
                        <p class="epublishinghead">e-Publishing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
   <!-- epublishing content1 -->
    <div class="container epublishcontentcontainer1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="epublishtotalcont">
                    <h3 class="typesettinghead">Type Setting Services</h3>
                    <div class="epublishpara1">
                        <p class="epublishparacontent1">
                          M2infosolutions is proficient in typesetting using a variety of platforms, including Adobe InDesign, QuarkXPress, LaTeX, Microsoft Word, and PageMaker. These applications are popular in the publishing and design fields for creating and formatting documents.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="typesettingimgcont">
                  <div class="typesettingimgcontainer">
                    <img data-aos="flip-right" data-aos-duration="700"data-aos-delay="150"class="epublishingimg1"src="../../assets/epublishingimg1.jpg" alt="">               
                  </div>
                    <div data-aos="fade-down-left"class="typesettingimgframe1"></div>
                    <div data-aos="fade-up-right"class="typesettingimgframe2"></div>
                  </div>
            </div>
        </div>
    </div>
    <!-- epublishcontentcontainer2 -->
     <div class="container epublishcontentcontainer2">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="levelofeditingimgcont">
                  <div class="levelofeditingimgcontainer"> 
                    <img data-aos="zoom-in" class="levelofeditingimg"src="../../assets/levelofeditingimg.jpg" alt="">
                  </div>
                    <div data-aos="fade-down-left"class="levelofeditingimgframe1"></div>
                    <div data-aos="fade-up-right"class="levelofeditingimgframe2"></div>
                </div>
               
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3 class="levelofediting">Level of Editing</h3>
                <div class="epublishtotalcontainer">
                    <div class="epublishtotalcont2">
                        <p class="epublishparacontent2">M2infosolutions offers three levels of editing services, which are Light editing,Standard editing, and Advanced editing</p>  
                        <p class="epublishparacontent2"> These editing levels are designed to address different aspects of content improvement and refinement.</p>
                        <p class="epublishparacontent2"><span>Copyediting:</span> Correcting errors related to spelling, capitalization, punctuation, formatting, abbreviations, grammar, and other vocabulary-related issues.</p>
                        <p class="epublishparacontent2"><span>Indexing:</span> Creating indexes to help readers navigate the content of a document or book.</p>
                        <p class="epublishparacontent2"><span>Proofreading:</span> Checking for errors and inconsistencies in the final version of a document.</p>
                        <p class="epublishparacontent2"><span>Language Services:</span> Likely includes translation, localization, and language-specific adaptations.</p>
                    </div>
                </div> 
            </div>
        </div>
     </div>
     <!-- composition service -->
      <div class="container epublishcontentcontainer3">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3 class="compositionservices">Composition Services</h3>
                <div class="epublishtotalcont3">
                    <p class="epublishparacontent3">
                      M2 Infosolutions offers composition services, commonly referred to as typesetting or page layout services, which are vital in the publishing and design sectors. These services focus on the expert organization and formatting of text and visual elements to produce visually appealing and easy-to-read documents. Our composition services cater to a range of printed materials, such as books, magazines, brochures, newsletters, academic papers, and marketing materials. Our composition services include:</p>
                    <p class="epublishparacontent3"><span>Project Management:</span> Overseeing the entire composition process, from start to finish</p>
                    <p class="epublishparacontent3"><span>Multilingual Typesetting:</span>Typesetting in multiple languages to cater to diverse audiences.</p>
                    <p class="epublishparacontent3"><span>Design and Multimedia:</span> Incorporating design elements and multimedia content into documents.</p>
                    <p class="epublishparacontent3"><span>Illustrations and Artwork:</span> Creating or incorporating visual elements like illustrations and graphics</p>
                    <p class="epublishparacontent3"><span>Document Management:</span> Managing the organization and storage of digital documents.</p>
                    <p class="epublishparacontent3"><span>Content Distribution:</span>  Facilitating the distribution of content to various platforms and media</p>  
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="compositionimgcont">
                      <div class="compositionimgcontainer">
                        <img data-aos="flip-up" data-aos-duration="700"data-aos-delay="150"class="compositionserviceimg"src="../../assets/compositionserviceimg.jpg" alt="">                 
                      </div> 
                      <div data-aos="fade-up-right"class="compositionimgframe1"></div>
                      <div data-aos="fade-up-right"class="compositionimgframe2"></div>  
                      </div>  
                      </div>
        </div>
      </div>
      <!-- Accordion container -->
       <div class="container epublishcontentcontainer4">
        <div class="row">
            <div class="col-12">
                <div class="accordion accordioncontainer" id="accordionExample">
                    <div class="accordion-item accordionitem">
                      <h2 class="accordion-header accordionbox">
                        <button class="accordion-button collapsed accordionhead" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="material-symbols-outlined">
                                forum
                                </span> We use the following typesetting  software?
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse accordioncont" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                              <ul>
                                <li>Adobe Indesign</li>
                                <li>Quark Xpress</li>
                                <li>Microsoft Word</li>
                                <li>Adobe Frame maker</li>
                                <li>Adobe PageMaker</li>
                                <li>3B2</li> 
                              </ul>          
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item accordionitem">
                      <h2 class="accordion-header accordionbox">
                        <button class="accordion-button collapsed accordionhead" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="material-symbols-outlined">
                                forum
                                </span>Normally we accept the following type of files for the typesetting process
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse accordioncont" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Microsoft Word</li>
                                <li>Scanned Images</li>
                                <li>Non-editable PDF</li>
                                <li>Adobe Frame maker</li>
                                <li>PDF</li>
                                <li>Hand Written Document, etc.</li> 
                              </ul> 
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
       </div>
    <!-- accordiondefcont -->
     <div class="container epublishcontentcontainer5">
        <div class="row">
            <div class="col-12">
                <p class="epublishparacontent5">
                  In summary, M2infosolutions positions itself as a comprehensive provider for editorial and composition services, assisting clients in enhancing their written materials and presenting them in an attractive format. These offerings are crucial for ensuring that documents maintain high standards of quality, both in content and visual presentation.</p>
            </div>
        </div>
     </div>
     <!-- Digital Publishing Service -->
      <div class="container digitalpublishingcontainer">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="digitalpublishingimgcont"> 
                <div class="digitalpublishingimgcontainer">
                  <img  data-aos="zoom-out-right" data-aos-duration="700"data-aos-delay="150"class="digitalpublishingimg"src="../../assets/DigitalPublishing.jpg" alt="">
                </div> 
                <div data-aos="fade-down-left"class="digitalpublishingimgframe1"></div>
                <div data-aos="fade-up-right"class="digitalpublishingimgframe2"></div>  
              </div>            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="digitalpublishingtotalcontainer">
                    <div class="digitalpublishingtotal">
                        <h3 class="Digitalpublishhead">Digital Publishing Services</h3>
                        <p class="digitalpublishingcont">M2infosolutions offers a wide range of conversion services, including data conversion and eBook. Here's a detailed breakdown of these services:</p>
                        <div class="digitallistcont">
                          <ul  class="digitalpublishingli">
                            <li>Data Conversion</li>
                            <li>E-Book</li>
                        </ul>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
      </div>
      <!-- Data conversation -->
       <div class="container dataconversationcontainer">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                    <h3 class="conversationhead">Data Conversation</h3>
                    <div class="conversationtotalcont">
                        <p class="conversationparacont">M2 infosolutions provides comprehensive data conversion and content digitization services, which involve converting various forms of data and printed material into digital formats. These services include:</p>
                        <div class="dataconversionlistcont">
                          <ul class="conversationcont">
                            <li>Accurate and rapid data capture from handwritten forms.</li>
                            <li>Converting data into a powerful management resource.</li>
                            <li>Digitizing printed matter into electronic formats.</li>
                        </ul>
                        </div>   
                    </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="dataconversationimgcont">
                  <div class="dataconversationimgcontainer">
                    <img data-aos="zoom-in-right" data-aos-duration="700"data-aos-delay="150"class="dataconversationimg" src="../../assets/dataconversationimg.jpg" alt="">               
                  </div>
                  <div data-aos="fade-up-right"class="dataconversationimgframe1"></div>
                    <div data-aos="fade-up-right"class="dataconversationimgframe2"></div> 
                  </div>
                  </div>
        </div>
       </div>
    <!-- Ebook container -->
     <div class="container Ebookcontainer">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ebooktotalcont">
                  <div class="ebooktotalcontainer">
                    <img data-aos="flip-up" data-aos-duration="700"data-aos-delay="150"class="ebookimg" src="../../assets/Ebook.jpg" alt="">
                  </div>
                    <div data-aos="fade-down-left"class="ebookimgframe1"></div>
                    <div data-aos="fade-up-right"class="ebookimgframe2"></div> 
                  </div>    
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3 class="ebookhead">Ebook</h3>
                <div class="ebookcontenttotalcont">
                    <div class="ebookcontentcont">
                        <p class="ebookcont">M2 infosolutions has an internal team of Instructional Designers who work on developing storyboards from content. These services are particularly valuable for educational content. Your eBook conversion services include:</p>
                        <div class="ebooklistcont">
                          <ul class="ebooklist">
                            <li>PDF to eBook Conversion</li>
                            <li>Microsoft Word to eBook Conversion</li>
                            <li>HTML to eBook Conversion</li>
                            <li>InDesign to eBook Conversion</li>
                            <li>Print Book to eBook Conversion</li>
                            <li>Kindle/Kobo Formatting</li>
                            <li>Apple iBooks Formatting (EPUBs)</li>
                            <li>Custom eBook Formatting</li>
                            <li>eBook Metadata Optimization</li>
                        </ul>
                        </div>
                        
                    </div>
                </div>
               
            </div>
        </div>
     </div>
  <!-- footer container -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
         <p class="footerhead">M2 INFOSOLUTIONS</p>
         <hr class="footerhr">
        </div>
        <div class="footer-col footercont">
          <p class="footerconttext" >M2 INFOSOLUTION With a highly experienced leadership team, M2 Infosolutions work with leading publishers, typesetters, government agencies, universities, libraries and major corporations around the world on a wide range of e-publishing projects.</p>
         </div>
         <div class="footer-col">
          <div class="address">
            <span class="material-symbols-outlined">
              location_on
              </span><p>No.52, First Avenue Main Road,
              Vettuvankeni,
              Chennai 600 115.</p>
          </div>
          <div class="mobileno">
            <span class="material-symbols-outlined">call</span><p>+91 7397224252/+91 9176351763</p>
          </div>
          <div class="mobileno">
            <span class="material-symbols-outlined">mail</span><p> info&#64;m2infosolutions.com</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="footer-col">
          <p class="Copyright" > © Copyright 2023 - M2 Infosolutions Private Limited - All rights reserved</p>    
         </div>
      </div>
    </div>
  </footer>
  <!-- snoweffect -->
  <div class="snow-container">
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
  </div>
  