<div class="maincontainer">
  <div class="container-fluid totalheadercont">
    <div class="row">
      <div class="col-12">
        <div class="container headercont1">
          <div class="row ">
            <div class="col-5">
              <div class="logocontainer">
               <a class="nav-link" href="#homesection"><img class="logoimg"src="../assets/logo.png" alt="logo"> </a> 
              </div>
            </div>
            <div class="col-7 column2">
              <div class="navbar secondcol">
                <div class="menu-icon" id="menu-icon">
                 <a data-bs-toggle="offcanvas" role="button"data-bs-toggle="offcanvas" data-bs-target="#demo"><span class="material-symbols-outlined menuicon">menu</span></a>
                 <div class="offcanvas offcanvas-start" id="demo">
                  <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                  </div>
                  <div class="offcanvas-body navbar-nav">
                    <div  data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item"><a class="dropdownitem nav-link" href="#homesection">Home</a></div>
                    <div  data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item"><a class="dropdownitem nav-link" href="#servicesection">Service</a></div>
                    <div  data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item"><a class="dropdownitem nav-link" href="#aboutsection">About Us</a></div>
                    <div  data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item"><a class="dropdownitem nav-link" href="#contactsection">Contact Us</a></div>
                    </div> 
                  </div>
                </div>
                <ul class="navbar-nav navlist">
                  <li class="nav-item homelink"><a class="nav-link" href="#homesection">Home</a></li> 
                  <li class="nav-item servicelink"><a class="nav-link" href="#servicesection">Service</a></li> 
                  <li class="nav-item aboutuslink"><a class="nav-link" href="#aboutsection">About Us</a></li>
                  <li class="nav-item contactslink"><a class="nav-link" href="#contactsection">Contact Us</a></li>
                </ul>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container1 -->
   <section id="homesection">
  <div class="container-fluid videocont" >
    <div>
    <div class="row">
      <div class="col-sm-12">
        <div class="videocontainer" data-aos="flip-up"data-aos-duration="800" data-aos-delay="90" data-aos-easing="ease-in-out">
          <video class="wallpapervideo" autoplay loop muted>
            <source src="../assets/laptops.mp4" type="video/mp4">
         </video>
         </div>
        </div>
      </div>
    </div>
        <div class="overlaytextcont" data-aos="fade-up"data-aos-duration="2500"data-aos-delay="550">
          <div class="overlaytext" >
            <p class="overlaytext1">M2 infosolutions</p>
            <p class="overlaytext2">M2 Infosolutions is a global leading provider to the content industry, working with publishers and companies around the world at the vanguard of e-publishing from complex ebook projects and composition (Typesetting), to mobile application development and bespoke solutions.</p>
          </div>
          <div class="contactbtn">
            <a class="btn contactbtntext" href="#contactsection">Contact Us</a>
          </div>
        </div>     
    </div>
</section>
  <!-- container2 -->
  <div class="container ">
    <div class="row">
      <div class="col-12 whychoosecont ">
        <div class="whychoose1">
          <p class="whychooseushead1">Why Choose Us?</p>
        </div>
        <div class="whychoose2"  data-aos="zoom-in-up" data-aos-once="false" data-aos-mirror="true" data-aos-duration="1000">
          <p class="whychooseushead2">At our IT company, we combine cutting-edge technology with personalized solutions to drive your business forward. Our team of experts is dedicated to delivering high-quality services that meet your unique needs. Choose us for reliable, innovative, and client-focused IT support that empowers your success </p>
        </div>
      </div>
    </div>
  </div>
        <div class="container card1cont">
          <div class="row">
            <div class="col-lg-4 col-md-12 mt-5 col-sm-12 cardcolumn1">
              <div class="card1"data-aos="zoom-in-up"data-aos-duration="1000"data-aos-delay="350">
                <div class="cardbody">
                  <div class="cardbodyimg">
                    <img class="userimg"src="../assets/user.gif" alt="">
                  </div>
                  <div class="cardbody1">
                    <h5 class=" cardtitle1">10</h5>
                  </div>
                  <div class="cardbody2">
                    <p class="cardtext1">Years of Experience</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mt-5 col-sm-12 cardcolumn2">
              <div class=" card2"data-aos="zoom-in-up" data-aos-once="false" data-aos-mirror="true" data-aos-duration="1000">
                <div class="cardbody">
                  <div class="cardbodyimg2">
                    <img class="userimg2"src="../assets/user2.gif" alt="">
                  </div>
                  <div class="cardbody1b">
                    <h5 class="cardtitle1">50</h5>
                  </div>
                  <div class="cardbody2b">
                    <p class="cardtext1">Million pages</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 mt-5 col-sm-12 cardcolumn3">
              <div class="card3"data-aos="zoom-in-up"data-aos-duration="1000"data-aos-delay="350">
                <div class="cardbody">
                  <div class="cardbodyimg3">
                    <img class="userimg3"src="../assets/user3.gif" alt="">
                  </div>
                  <div class="cardbody1c">
                    <h5 class="cardtitle1">16</h5>
                  </div>
                  <div class="cardbody2c">
                    <p class="cardtext1">Types of works</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
  <!-- service container -->
   <section id="servicesection">
  <div class="container servicecontainer ">
    <div class="row">
      <div class="col-12 servicescolumn ">
          <p class="serviceshead">Services</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
          <p class="servicepara1">Our comprehensive IT services are designed to meet the diverse needs of businesses in today's digital landscape. From software development and cloud solutions to cybersecurity and IT consulting, we provide end-to-end support to ensure your technology drives success. Trust us to deliver innovative and reliable services that keep you ahead of the competition.</p>
          <div class="serviceline1">
            <div class="service1">
              <div data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350"><h4>Pre-press Service</h4><hr></div>
              <p class="servicepara2">Ensure flawless production with our comprehensive pre-press services, from file preparation to quality assurance</p>
            </div>
            <div class="service2" >
              <div data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350"><h4>Accessibility Services</h4><hr></div>
              <p class="servicepara3">Enhance usability and compliance with our expert accessibility services for all digital platforms </p>
            </div>
          </div>
          <div class="serviceline2">
            <div class="service3">
              <div data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350"><h4>Sales & Services</h4><hr></div>
              <p class="servicepara4">Receive personalized support and expert advice with our dedicated sales and service solutions</p>
            </div>
            
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="serviceimgcont">
          <img data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="350" data-aos-offset="300" class="rectangluralimg1" src="../assets/Rectangle.png" alt="">
          <img data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300" data-aos-offset="200" class="serviceimg" src="../assets/serviceimg.webp" alt="">
          <img data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="350" class="dotimg1" src="../assets/dottedimg2.jpg" alt="">
      </div>    
      </div>
    </div>
  </div>
</section>
  <!-- about us container -->
   <section id="aboutsection">
  <div class="container aboutuscontainer ">
    <div class="row">
      <div class="col-12 aboutuscolumn ">
          <p class="abouthead">About Us</p>
      </div>
    </div>
  </div>
  <div class="container aboutcontentcont">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img data-aos="fade-right"data-aos-duration="500"data-aos-delay="200"class="aboutusimg"src="../assets/aboutus.webp" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 ">
          <div class="aboutcontainer1"data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350">
            <div class="aboutpara1">
              <p class="para1">Welcome to M2 infosolutions,a trailblazing IT/ITES company established in 2012.our journey has been marked by a relentless pursuit of excellence in publishing,accessibility,and service solutions</p>
              <p><span class="vision">Vision: </span>To be a leading IT/ITES company globally, renowned for our cutting-edge technology solutions, client-centric approach and commitment to driving digital excellence in every industry we serve.</p>
              <p><span class="mission">Mission:</span> To empower businesses through innovative IT/ITES solutions, delivering exceptional value and driving their digital transformation for sustainable growth and success.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
  <!-- contact us -->
   <section id="contactsection">
  <div class="container contactcontainer ">
    <div class="row">
      <div class="col-12">
        <div class="cantactheadcont">
          <p class="contacthead">Contact us</p>
        </div>
      </div>
    </div>
  </div>
   <div class="container contactcont">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="contacthead2">If you want to contact us</p>
        <div class="contact"data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350">
          <form class="contactform">
            <label class="name"for="name">Name</label><br>
            <input class="inp1"type="text"placeholder="Enter your name"><br>
            <label class="email"for="email">Email</label><br>
            <input class="inp2"type="text"placeholder="Enter your Emailid"><br>
            <label class="message" for="message">Message</label><br>
            <textarea class="inp3" name="meassage" id=""placeholder="Enter your message"></textarea><br>
            <button class="btn contactsendbutton">Send</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 mt-5 col-md-6 col-sm-12">
        <img data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350"class="contactimg"src="../assets/contactimg.webp" alt="">
      </div>
    </div>
   </div>
  </section>
   <!-- footer -->
   <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
         <p class="footerhead">M2 INFOSOLUTIONS</p>
         <hr class="footerhr">
        </div>
        <div class="footer-col footercont">
          <p class="footerconttext" >M2 INFOSOLUTION With a highly experienced leadership team with over 10 years experience, RS Infosolutions work with leading publishers, typesetters, government agencies, universities, libraries and major corporations around the world on a wide range of e-publishing projects.</p>
         </div>
         <div class="footer-col">
          <div class="address">
            <span class="material-symbols-outlined">
              location_on
              </span><p>No.52, First Avenue Main Road,
              VETTUVANKENI,
              CHENNAI 600 115.</p>
          </div>
          <div class="mobileno">
            <span class="material-symbols-outlined">call</span><p>+91 7397224252/+91 9176351763</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="footer-col">
          <p class="Copyright" > © Copyright 2023 - Letsify Sigma4Solutions Private Limited - All rights reserved</p>    
         </div>
      </div>
    </div>
  </footer>
  <!-- snoweffect -->
  <div class="snow-container">
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
  </div>
  
</div>


<p>hello</p>


