<div class="maincontainer">
    <div class="container-fluid totalheadercont">
      <div class="row">
        <div class="col-12">
          <div class="container headercont1">
            <div class="row ">
              <div class="col-5">
                <div class="logocontainer">
                 <a class="nav-link" href="#homesection"><img class="logoimg"src="../assets/logo.png" alt="logo"> </a> 
                </div>
              </div>
              <div class="col-7 column2">
                <div class="navbar secondcol">
                  <div class="menu-icon" id="menu-icon">
                    <a role="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                      <span class="material-symbols-outlined menuicon">menu</span>
                    </a>
                    <div class="offcanvas offcanvas-start" id="demo">
                      <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                      </div>
                      <div class="offcanvas-body navbar-nav">
                        <div data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item">
                          <a class="dropdownitem nav-link" href="#homesection">Home</a>
                        </div>
                        
                        <!-- Remove data-bs-dismiss here to prevent canvas from closing on click -->
                        <div class="nav-item dropdown">
                          <a class="dropdownitem nav-link" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                          <ul class="dropdown-menu servicedropdownmenu">
                            <!-- Add data-bs-dismiss only to the links that should close the canvas -->
                            <li><a class="dropdown-item" routerLink="/services/e-publishing" data-bs-dismiss="offcanvas">e-Publishing</a></li>
                            <li><a class="dropdown-item" routerLink="/services/accessibilityservices" data-bs-dismiss="offcanvas">Accessibility Services</a></li>
                            <li><a class="dropdown-item" routerLink="/services/dataannotation" data-bs-dismiss="offcanvas">Data Annotation</a></li>
                          </ul>
                        </div>        
                        <div data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item">
                          <a class="dropdownitem nav-link" href="#aboutsection">About Us</a>
                        </div>
                        <div data-bs-dismiss="offcanvas" aria-label="Close" class="nav-item">
                          <a class="dropdownitem nav-link" href="#contactsection">Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <ul class="navbar-nav navlist">
                    <li class="nav-item homelink"><a class="nav-link" href="#homesection">Home</a></li> 
                    <li class="nav-item dropdown servicelink">
                      <a class="nav-link dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false" href="#servicesection">Services</a>
                      <ul class="dropdown-menu servicedropdownmenu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" routerLink="/services/e-publishing">e-Publishing</a></li>
                        <li><a class="dropdown-item" routerLink="/services/accessibilityservices">Accessibility Services</a></li>
                        <li><a class="dropdown-item" routerLink="/services/dataannotation">Data Annotation</a></li>
                      </ul>
                    </li> 
                    <li class="nav-item aboutuslink"><a class="nav-link" href="#aboutsection">About Us</a></li>
                    <li class="nav-item contactslink"><a class="nav-link" href="#contactsection">Contact Us</a></li>
                  </ul>
                  
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container1 -->
     <section id="homesection">
    <div class="container-fluid videocont" >
      <div>
      <div class="row">
        <div class="col-sm-12">
          <div class="videocontainer" >
            <video class="wallpapervideo" autoplay loop muted>
              <source src="../assets/laptops.mp4" type="video/mp4">
           </video>
           </div>
          </div>
        </div>
      </div>
          <div class="overlaytextcont">
            <div class="overlaytext" >
              <p class="overlaytext1">M2 Infosolutions</p>
              <p class="overlaytext2">M2 Infosolutions is a global leading provider to the content industry, working with publishers and companies around the world at the vanguard of e-publishing from complex ebook projects and composition (Typesetting), to mobile application development and bespoke solutions.</p>
            </div>
            <div class="contactbtn">
              <a class="btn contactbtntext" href="#contactsection">Contact Us</a>
            </div>
          </div>     
      </div>
  </section>
    <!-- container2 -->
    <div class="container ">
      <div class="row">
        <div class="col-12 whychoosecont ">
          <div class="whychoose1">
            <p class="whychooseushead1">Why Choose Us?</p>
          </div>
          <div class="whychoose2"  data-aos="zoom-in-up" data-aos-once="false" data-aos-mirror="true" data-aos-duration="500">
            <p class="whychooseushead2">At our IT company, we combine cutting-edge technology with personalized solutions to drive your business forward. Our team of experts is dedicated to delivering high-quality services that meet your unique needs. Choose us for reliable, innovative, and client-focused IT support that empowers your success </p>
          </div>
        </div>
      </div>
    </div>
          <div class="container card1cont">
            <div class="row">
              <div class="col-lg-4 col-md-12 mt-5 col-sm-12 cardcolumn1">
                <div class="card1"data-aos="zoom-in-up"data-aos-duration="700"data-aos-delay="150">
                  <div class="cardbody">
                    <div class="cardbodyimg">
                      <img class="userimg"src="../assets/user.gif" alt="">
                    </div>
                    <div class="cardbody1">
                      <h5 class=" cardtitle1">10</h5>
                    </div>
                    <div class="cardbody2">
                      <p class="cardtext1">Years of Experience</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 mt-5 col-sm-12 cardcolumn2">
                <div class=" card2"data-aos="zoom-in-up" data-aos-once="false" data-aos-mirror="true" data-aos-duration="700"data-aos-delay="150">
                  <div class="cardbody">
                    <div class="cardbodyimg2">
                      <img class="userimg2"src="../assets/user2.gif" alt="">
                    </div>
                    <div class="cardbody1b">
                      <h5 class="cardtitle1">50</h5>
                    </div>
                    <div class="cardbody2b">
                      <p class="cardtext1">Million Pages</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 mt-5 col-sm-12 cardcolumn3">
                <div class="card3"data-aos="zoom-in-up"data-aos-duration="700"data-aos-delay="150">
                  <div class="cardbody">
                    <div class="cardbodyimg3">
                      <img class="userimg3"src="../assets/user3.gif" alt="">
                    </div>
                    <div class="cardbody1c">
                      <h5 class="cardtitle1">16</h5>
                    </div>
                    <div class="cardbody2c">
                      <p class="cardtext1">Types of Works</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    <!-- service container -->
     <section id="servicesection">
    <div class="container servicecontainer ">
      <div class="row">
        <div class="col-12 servicescolumn ">
            <p class="serviceshead">Services</p>
        </div>
      </div>
    </div>
<!-- Service 5 - Bootstrap Brain Component -->
  <div class="container overflow-hidden">
    <div class="row gy-4 gy-md-5 gy-lg-0 align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="serviceimgcont">
                <img class="dottedimg"src="../../assets/dottedimg1.jpg" alt=""data-aos="fade-down-left"data-aos-duration="700"data-aos-delay="150">
                <img class="serviceimg"src="../../assets/serviceimg.webp" alt=""data-aos="zoom-in-up"data-aos-duration="700"data-aos-delay="150">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 overflow-hidden">
        <div class="row gy-4">
          <div class="col-12 col-sm-6">
            <div class="card border-0 border-bottom border-primary shadow-sm  card-hover-effect"data-aos="fade-right"data-aos-duration="700"data-aos-delay="150">
              <div class="card-body text-center p-4 p-xxl-5">
                <img class="epublishingimg"src="../../assets/epublishingimg.png" alt="">
                <h4 class="mb-4">E-Publishing</h4>
                <p class="mb-4"> We provide advanced e-publishing solutions to optimize and simplify your digital content distribution, ensuring seamless integration and enhanced user engagement.</p>
                <a class="rt" routerLink="/services/e-publishing" class="fw-bold text-decoration-none">
                  Read more
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card border-0 border-bottom border-primary shadow-sm card-hover-effect"data-aos="fade-left"data-aos-duration="700"data-aos-delay="150">
              <div class="card-body text-center p-4 p-xxl-5">
                <img class="accessibilityservice"src="../../assets/accessibilityservice.png" alt="">
                <h4 class="mb-4">Accessibilty Services</h4>
                <p class="mb-4"> We enhance PPT, PDF, Excel, and Word documents to ensure full accessibility for all users, including those with disabilities, meeting the latest standards.</p>
                <a class="rt" routerLink="/services/accessibilityservices" class="fw-bold text-decoration-none ">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="servicecardcont3">
          <div class="col-12 col-sm-6">
            <div class="card border-0 border-bottom border-primary shadow-sm card-hover-effect" data-aos="fade-up"data-aos-duration="700"data-aos-delay="150">
              <div class="card-body text-center p-4 p-xxl-5">
                <img class="dataannotation"src="../../assets/dataannotation.png" alt="">
                <h4 class="mb-4">Data Annotation</h4>
                <p class="mb-4">We provide our clients with daily updates on their business performance. This includes data on website traffic and sales.</p>
                <a  class="rt" routerLink="/services/dataannotation" class="fw-bold text-decoration-none">
                  Read More
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  </section>
    <!-- about us container -->
     <section id="aboutsection">
    <div class="container aboutuscontainer ">
      <div class="row">
        <div class="col-12 aboutuscolumn ">
            <p class="abouthead">About Us</p>
        </div>
      </div>
    </div>
    <div class="container aboutcontentcont">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img data-aos="fade-right"data-aos-duration="500"data-aos-delay="200"class="aboutusimg"src="../assets/aboutus.webp" alt="">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="aboutcontainer1"data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350">
              <div class="aboutpara1">
                <p class="para1">Welcome to M2 Infosolutions, a trailblazing IT/ITES company established in 2012. Our journey has been marked by a relentless pursuit of excellence in publishing, accessibility, and service solutions</p>
                <p><span class="vision">Vision: </span>To be a leading IT/ITES company globally, renowned for our cutting-edge technology solutions, client-centric approach and commitment to driving digital excellence in every industry we serve.</p>
                <p><span class="mission">Mission:</span> To empower businesses through innovative IT/ITES solutions, delivering exceptional value and driving their digital transformation for sustainable growth and success.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
    <!-- contact us -->
     <section id="contactsection">
    <div class="container contactcontainer ">
      <div class="row">
        <div class="col-12">
          <div class="cantactheadcont">
            <p class="contacthead">Contact Us</p>
          </div>
        </div>
      </div>
    </div>
     <div class="container contactcont">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p class="contacthead2">If you want to contact us</p>
          <div class="contact"data-aos="fade-right"data-aos-duration="500"data-aos-delay="200">
            <form class="contactform">
              <label class="name"for="name">Name</label><br>
              <input class="inp1"type="text"placeholder="Enter your Name"><br>
              <label class="email"for="email">Email</label><br>
              <input class="inp2"type="text"placeholder="Enter your Email ID"><br>
              <label class="message" for="message">Message</label><br>
              <textarea class="inp3" name="meassage" id=""placeholder="Enter your Message"></textarea><br>
              <button class="btn contactsendbutton">Send</button>
            </form>
          </div>
        </div>
        <div class="col-lg-6 mt-5 col-md-6 col-sm-12">
          <img data-aos="fade-right"data-aos-duration="1000"data-aos-delay="350"class="contactimg"src="../assets/contactimg.webp" alt="">
        </div>
      </div>
     </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="locationhead">
              <h2 class="ourlocationhead">Our Location</h2>
            </div>
          </div>
        </div>
        <div class="container ">
          <div class="row">
            <div class="col-12">
              <div class="map-container">
                <!-- Google Map Embed Code -->
                <iframe data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100" data-aos-offset="200"class="mapframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.55381339745!2d80.24868067585678!3d12.936373915648034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525ce6f853a033%3A0x73a3e9b375b7a7aa!2s52%2C%201st%20Ave%2C%20Sakthi%20Vinayakar%20Nagar%2C%20Thoraipakkam%2C%20Chennai%2C%20Tamil%20Nadu%20600115!5e0!3m2!1sen!2sin!4v1725116014822!5m2!1sen!2sin"      width="100%"  height="450" 
                        allowfullscreen="" loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            </div>
          </div>
        </div>
    </div>
    </section>
     <!-- footer -->
     <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
           <p class="footerhead">M2 INFOSOLUTIONS</p>
           <hr class="footerhr">
          </div>
          <div class="footer-col footercont">
            <p class="footerconttext" >M2 INFOSOLUTION With a highly experienced leadership team, M2 Infosolutions work with leading publishers, typesetters, government agencies, universities, libraries and major corporations around the world on a wide range of e-publishing projects.</p>
           </div>
           <div class="footer-col">
            <div class="address">
              <span class="material-symbols-outlined">
                location_on
                </span><p>No.52, First Avenue Main Road,
                Vettuvankeni,
                Chennai 600 115.</p>
            </div>
            <div class="mobileno">
              <span class="material-symbols-outlined">call</span><p>+91 7397224252/+91 9176351763</p>
            </div>
            <div class="mobileno">
              <span class="material-symbols-outlined">mail</span><p> info&#64;m2infosolutions.com</p>
            </div>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="footer-col">
            <p class="Copyright" > © Copyright 2023 - M2 Infosolutions Private Limited - All rights reserved</p>    
           </div>
        </div>
      </div>
    </footer>
    <!-- snoweffect -->
    <div class="snow-container">
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
      <div class="snow"></div>
    </div>
    
  </div>
  
  
  